body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  #questions-container {
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
  }
  